body{
    background-color: #CCC;
}

h1{
    color: #555;
}

.txt-azul{
    color: #002a6d;
    font-size: 18px;
    font-weight: bold;
}

.dir{
    float: right;
    margin: 15px;
    height: 370px;
}

.clear{
    clear: both;
}